<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="MyDB" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\C#Projects\Git\Warehouse\Warehouse Complex\Warehouse Complex.mdf;Integrated Security=True"/>
  </connectionStrings>
</configuration>


<!--<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Warehouse_Complex.Properties.Settings.Warehouse_ComplexConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;|DataDirectory|\Warehouse Complex.mdf&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>-->


